* {
    margin: 0px;
}
html, body {
    height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 5px;
}

nav {
  position: relative;
  top: -60px;
  left: 5%;
}

nav ul li {
  display: inline;
  font-size: 32px;
}

nav a, nav a:visited, nav a:link {
  text-decoration: none;
  color: #6B4624;
  font-weight: bold;
}

a:hover, a:active {
  color: #D5AC81;
}

.heading {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  border-bottom: 5px solid #54381C;
  background-color: #C47E4F;
  padding-top: 5px;
  padding-bottom: 3px;
}

img.cover {
  width: 98%;
  margin-left: none;
  height: auto;
  z-index: -10;
  object-fit: cover;
}

img.snapshot, img.snapshot {
  width: 25%;
  display: inline;
  padding: 2px;
  margin: 2px;
}

img.panel {
  width: 45%;
}

footer {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 3px;
  color: #A59C81;
  background-color: #DDB798;
}